In [124]:
import requests

In [143]:
target = "reddit.com"

In [144]:
session = requests.Session()
session.max_redirects = 5

In [145]:
try:
    r = session.get("http://" + target, timeout=5)
    print("np")
except requests.TooManyRedirects as e:
    print("too many redirect")
#except Exception as e:
    #print("aiya")
    #print(e)

np

In [146]:
r.history
r.headers

{'Connection': 'keep-alive', 'Cache-control': 'private, s-maxage=0, max-age=0, must-revalidate, no-store', 'Content-Encoding': 'gzip', 'Content-Type': 'text/html; charset=utf-8', 'X-Frame-Options': 'SAMEORIGIN', 'Accept-Ranges': 'bytes', 'Date': 'Thu, 11 Mar 2021 13:36:05 GMT', 'Via': '1.1 varnish', 'Vary': 'Accept-Encoding', 'Set-Cookie': 'loid=0000000000audonsur.2.1615469764000.Z0FBQUFBQmdTaHpFanltUWcwSDh6ajlMakp6Q2M3V1REdkstYzhrWU5YLTh4MkFZOElLSFJmSnpXWkdXUGsydHV1ZHk1MU9vaHZkWTZkQ0tQVTBwTll1cHNKdmlDMVdwdVNoU3Uzc3RSczktV3otQ193ZU9ubXkzaHk0UU43a3BtZzRQY2tEY0xTQVk; path=/; expires=Sat, 11 Mar 2023 13:36:04 GMT; domain=.reddit.com; secure; SameSite=None; Secure, session_tracker=mdifhriiaefclnmikp.0.1615469764084.Z0FBQUFBQmdTaHpFVGxxdmdCbkgxemFIRl9lQTgyZmQ4d3p6VkhGeVYxNkZIOXZFNm9EVXp2WHlOOTBrR1lGUVdIMC1DQWVGR0NidG5jU1M4cEdkdUpmbzB6NHpkbnBUc1RMNEVSQURBem9LNllaTTdRSmhiZjNXTWItWUNVbmM1Y3pPV2EyOEZtOXI; path=/; domain=.reddit.com; secure; SameSite=None; Secure, token_v2=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTU0NzMyNDQsInN1YiI6Ii0wdTdDX3VESXo2UGVwWnREVGFianhXX1dLU2siLCJsb2dnZWRJbiI6ZmFsc2UsInNjb3BlcyI6WyIqIiwiZW1haWwiXX0.0cD_8TFUCNEA_qIYeFqsgohDybgcfg3NbzxNiiopjls; Path=/; Domain=reddit.com; Expires=Sat, 11 Mar 2023 13:36:04 GMT; HttpOnly; Secure, csv=1; Max-Age=63072000; Domain=.reddit.com; Path=/; Secure; SameSite=None, edgebucket=jDE2thJVCc65hLbvEc; Domain=reddit.com; Max-Age=63071999; Path=/;  secure', 'Strict-Transport-Security': 'max-age=15552000; includeSubDomains; preload', 'Server': 'snooserv', 'transfer-encoding': 'chunked'}

In [149]:
'Strict-Transport-Security' in r.headers
#'server' in r.headers

True

In [94]:
import socket

In [120]:
try:
    serverip = socket.gethostbyname("localhost")
    port = 6789
except socket.gaierror:
    print('Hostname could not be resolved. Exiting')

In [123]:
try:
    sock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    result = sock.connect_ex((serverip, port))
    if result == 0:
        print("Port {}: Open".format(port))
    else:
        print(result)
    sock.close()
except Exception as e:
    print("Port {}: Closed" .format(port))
    print(e.message)
    print('lol')

Port 6789: Open

In [1]:
def root_ca(target):
    try:
        result = subprocess.run(["openssl", query_type, target, dns], timeout=2, capture_output=True, text=True)

SyntaxError: unexpected EOF while parsing (<ipython-input-1-e1920999cc75>, line 3)

In [2]:
import maxminddb

In [3]:
reader = maxminddb.open_database('GeoLite2-City.mmdb')

In [4]:
type(reader)

maxminddb.reader.Reader

In [61]:
info = reader.get("104.244.43.99")

In [62]:
info.keys()

dict_keys(['continent', 'country', 'location', 'registered_country'])

In [63]:
print(info['country'])

{'geoname_id': 6252001, 'iso_code': 'US', 'names': {'de': 'USA', 'en': 'United States', 'es': 'Estados Unidos', 'fr': 'États-Unis', 'ja': 'アメリカ合衆国', 'pt-BR': 'Estados Unidos', 'ru': 'США', 'zh-CN': '美国'}}

In [64]:
city = info['city']['names']['en']
city

KeyError: 'city'

In [65]:
province = info['subdivisions'][0]['names']['en']
province

KeyError: 'subdivisions'

In [68]:
country = info['country']['names']['en']
country

'United States'

In [67]:
print(city+province+country)

DallasTexasUnited States

In [78]:
import pandas as pd

In [213]:
df = pd.read_json("single.json").transpose()

In [214]:
for i in range(0, df.shape[0]):
    rowSeries = df.iloc[i].tolist()
print(rowSeries)

[['United States', 'London, England, United Kingdom'], False, None, True, ['192.229.162.112', '192.229.189.15', '192.229.182.112'], [], [], False, 'GlobalSign Root CA - R3', [2, 20], 1615548550.4956884, []]

In [215]:
df

,geo_locations,hsts,http_server,insecure_http,ipv4_addresses,ipv6_addresses,rdns_names,redirect_to_https,root_ca,rtt_range,scan_time,tls_versions
amazon.com,"[Ashburn, Virginia, United States]",False,Server,True,"[54.239.28.85, 205.251.242.103, 176.32.103.205]",[],[],True,None,[],1615548573.736339,[]
tripadvisor.com,"[United States, London, England, United Kingdom]",False,None,True,"[192.229.162.112, 192.229.189.15, 192.229.182....",[],[],False,GlobalSign Root CA - R3,"[2, 20]",1615548550.495688,[]

In [216]:
list(df.columns)

['geo_locations',
 'hsts',
 'http_server',
 'insecure_http',
 'ipv4_addresses',
 'ipv6_addresses',
 'rdns_names',
 'redirect_to_https',
 'root_ca',
 'rtt_range',
 'scan_time',
 'tls_versions']

In [217]:
headers = list(df.columns)
headers.insert(0, "domain")

In [218]:
headers

['domain',
 'geo_locations',
 'hsts',
 'http_server',
 'insecure_http',
 'ipv4_addresses',
 'ipv6_addresses',
 'rdns_names',
 'redirect_to_https',
 'root_ca',
 'rtt_range',
 'scan_time',
 'tls_versions']

In [225]:
df

,geo_locations,hsts,http_server,insecure_http,ipv4_addresses,ipv6_addresses,rdns_names,redirect_to_https,root_ca,rtt_range,scan_time,tls_versions
amazon.com,"[Ashburn, Virginia, United States]",False,Server,True,"[54.239.28.85, 205.251.242.103, 176.32.103.205]",[],[],True,None,[],1615548573.736339,[]
tripadvisor.com,"[United States, London, England, United Kingdom]",False,None,True,"[192.229.162.112, 192.229.189.15, 192.229.182....",[],[],False,GlobalSign Root CA - R3,"[2, 20]",1615548550.495688,[]

In [226]:
len(df)

2

In [221]:
df[df['rtt_range'].map(len) > 0]

,geo_locations,hsts,http_server,insecure_http,ipv4_addresses,ipv6_addresses,rdns_names,redirect_to_https,root_ca,rtt_range,scan_time,tls_versions
tripadvisor.com,"[United States, London, England, United Kingdom]",False,None,True,"[192.229.162.112, 192.229.189.15, 192.229.182....",[],[],False,GlobalSign Root CA - R3,"[2, 20]",1615548550.495688,[]

In [223]:
df_n = pd.DataFrame(df[df['rtt_range'].map(len) > 0])
df_n

,geo_locations,hsts,http_server,insecure_http,ipv4_addresses,ipv6_addresses,rdns_names,redirect_to_https,root_ca,rtt_range,scan_time,tls_versions
tripadvisor.com,"[United States, London, England, United Kingdom]",False,None,True,"[192.229.162.112, 192.229.189.15, 192.229.182....",[],[],False,GlobalSign Root CA - R3,"[2, 20]",1615548550.495688,[]

In [224]:
len(df_n)

1

In [188]:
df_n.index

Index(['amazon.com', 'tripadvisor.com'], dtype='object')

In [180]:
df_n[['rtt_min', 'rtt_max']] = pd.DataFrame(df_n.rtt_range.tolist(), index=df_n.index)
df_n

,geo_locations,hsts,http_server,insecure_http,ipv4_addresses,ipv6_addresses,rdns_names,redirect_to_https,root_ca,rtt_range,scan_time,tls_versions,rtt_min,rtt_max
amazon.com,"[Ashburn, Virginia, United States]",False,Server,True,"[54.239.28.85, 205.251.242.103, 176.32.103.205]",[],[],True,None,"[2, 20]",1615542746.345274,[],2,20
tripadvisor.com,"[London, England, United Kingdom, United States]",False,envoy,True,"[192.229.182.112, 192.229.189.15, 192.229.162....",[],[],True,GlobalSign Root CA - R3,"[2, 20]",1615542738.054654,[],2,20

In [189]:
df3 = pd.DataFrame(df_n['rtt_range'].to_list(), columns=['rtt_min','rtt_max'], index=df_n.index)

In [193]:
df3

                 rtt_min  rtt_max
amazon.com             2       20
tripadvisor.com        2       20

In [195]:
df3.iloc[0]['rtt_min'] = 5
df3

                 rtt_min  rtt_max
amazon.com             5       20
tripadvisor.com        2       20

In [198]:
df3 = df3.sort_values(by='rtt_min')

In [199]:
df3

                 rtt_min  rtt_max
tripadvisor.com        2       20
amazon.com             5       20

In [186]:
for i in range(0, df3.shape[0]):
    print(df3.iloc[i][0])
    print("!!!")

2
!!!
2
!!!

In [156]:
for i in range(0, df2.shape[0]):
    rowSeries = df2.iloc[i]
print(rowSeries)

[2, 20]

In [155]:
df2.values

array([list([2, 20]), list([2, 20])], dtype=object)

In [143]:
for ind in df2.index:
    print(ind)

amazon.com
tripadvisor.com

In [146]:
for val in df2.values:
    print(val[0])

[2, 20]
[2, 20]

In [157]:
df3 = df['root_ca']
df3

amazon.com                            None
tripadvisor.com    GlobalSign Root CA - R3
Name: root_ca, dtype: object

In [201]:
df['root_ca'].value_counts(ascending=True)

GlobalSign Root CA - R3    1
Name: root_ca, dtype: int64

In [229]:
df_t3 = df['root_ca'].value_counts(ascending=False)
type(df_t3)

pandas.core.series.Series

In [231]:
df.value_counts()

TypeError: unhashable type: 'list'